* {
    box-sizing: border-box;
  }

body {
    background-color: #5d4037;
  }

#wrap {
    position: relative;
    top: 10vh;
    width: 60vw;
    height: 70vh;
    border: 1px rebeccapurple solid;
    margin: auto;
    background: url(bg.jpg);
  }

#car {
    position: absolute;
    top: 60vh;
    left: 10vh;
    width: 80px;
    height: 100px;
    background: url(car.png);
    background-size: contain;
    background-repeat: no-repeat;
}

.animated {
    animation: move_car_up 20s;
}

@keyframes move_car_up {
    0% {top: 60vh;
        left: 10vh;
        transform: rotate(0deg);
    }
    23% {top: 25vh;
        left: 10vh;
        transform: rotate(0deg);
    }
    25% {top: 25vh;
        left: 10vh;
        transform: rotate(90deg);
    }
    58% {
        top: 25vh;
        left: 85vh;
        transform: rotate(90deg); 
    }
    60% {
        top: 25vh;
        left: 85vh;
        transform: rotate(180deg); 
    }
    83% {
        top: 60vh;
        left: 85vh;
        transform: rotate(180deg); 
    }
    85% {
        top: 63vh;
        left: 85vh;
        transform: rotate(90deg); 
    }
    100% {
        top: 63vh;
        left: 105vh;
        transform: rotate(90deg); 
    }
  }