* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: #74ebd5;
    background: rgb(177, 177, 177);
    min-height: 100vh;
}

#container {
    position: absolute;
    top: 30%;
    left: 40%;
    height: 400px;
    width: 400px;
    border: 1px #000000 solid;
    border-radius: 10px;
    box-shadow: 2px 2px 20px 0px rgba(0,0,0,0.5);
    background-color: brown;
}

#child {
    position: absolute;
    bottom: 0;
    left: 0;
    height: 100px;
    width: 100px;
    border: 1px #000000 solid;
    border-radius: 50%;
    background-color: yellowgreen;
}